<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 85%;
        margin:auto;
       }
    </style>
  </head>
  <body>
      
      
      
      
    <h2>Dublin maps with multiple markers and clear button </h2>
      
      
      
      
      <div id="floating-panel">
      <input onclick="deleteMarkers();" type=button value="Clear map">
    </div>
      
      
    <div id="map"></div>
      
      
        <script>        
          
            var newmarkers=[];
            
            
            
      var coords = [{lat: 53.3496, lng: -6.2782},
        {lat: 53.3535, lng: -6.26531},
        {lat: 53.336, lng: -6.26298},
          {lat: 53.338, lng: -6.24153},   
           {lat: 53.3434, lng: -6.27012},   
            {lat: 53.3341, lng: -6.26544} ];
            
            
            
                
      function initMap() {
          var centre = new google.maps.LatLng(53.34,-6.26);      
          var mapOptions = {
            zoom: 14,
            center: centre};
        var map = new google.maps.Map(document.getElementById('map'),mapOptions);
        createMarkers(map);
        placeMarkers(map);
        console.log(typeof coords);
        console.log(typeof map);
        console.log(typeof newmarkers);
      } // end initMap
      
           
            
            
 function createMarkers(map){
            for (var i = 0; i < coords.length; i++){
         var marker = new google.maps.Marker({
          position: coords[i],
          map: map
        });
        newmarkers.push(marker); 
                var contents = " <h3>{{ name }}</h3>" +
                    "<p> Available bikes:<b> {{ available_bikes }}</b> </p>" +
                   " <p> Free stands: <b> {{ free_stands }}</b> </p> " ;
        var infowindow = new google.maps.InfoWindow({
      content:contents});  
google.maps.event.addListener(marker, 'click', (function(marker) {  
           return function() {    
               infowindow.open(map, marker);}  
         })(marker)); 
            } // end for loop
 }// end function
            
      
             function placeMarkers(map){
            for (var i = 0; i < coords.length; i++){
          newmarkers[i].setMap(map);
            
            } // end for loop
 }
            
            
        
            
            
        // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
          placeMarkers(null);
      }    
           
            
 // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
            
            
            
            
    </script>
      
      
      

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCJ3N808qMKwu32fTVlpUaG8K4GSPo4qs&callback=initMap">
    </script>
  </body>
</html>