
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="300" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
     
    <link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Jura'>
    <link rel="stylesheet" href="../static/oyb.css">

    <style>
      #map {
        height: 350px;
        width: 85%;
        margin:auto;
        position: fixed;
        z-index: 0;
        display:block;
        flex: 0 0 75%;
        }
    </style>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCJ3N808qMKwu32fTVlpUaG8K4GSPo4qs&libraries=places"></script>
      
    <script type='text/javascript' language='javascript' src='../static/js/oyb.js'></script>
        
    <script> $( document ).ready(function() { initMap(); }); </script> 
    <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
      
<!--      script below is for googlecharts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['bar']});
  
</script>  
      
      
      
  </head>
     
  <body>    
    
    <h1> {{ title }}</h1>
      
    
    <br>
    <div id="wrapper">
    <div id="map"></div>
    <div id="weatherhere"></div>
    </div>
     
      
      
    <br>
    <p><b>  Type in a streetname or area below to see it on the map</b> </p>
      
    <input id="pac-input" class="controls" type="text" placeholder="Search for a street">  
    <br><br>

 <!-- Identify where the chart should be drawn. -->
  <div id="myPieChart"/>
     
  </body>

</html>
