<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="refresh" content="300" />
      <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">    

      <link rel="stylesheet" href="../static/oyb.css">
      
    <style>
       #map {
        height: 350px;
        width: 85%;
        margin:auto;
           position: fixed;
           z-index: 0;
           display:block;
        
       }
    </style>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Jura'>
      
      
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCJ3N808qMKwu32fTVlpUaG8K4GSPo4qs&libraries=places">
      </script>
      
      <script type='text/javascript' language='javascript' src='../static/js/oyb.js'></script>
      
      
 <script>
     $( document ).ready(function() {
          initMap();
        });
  </script> 
      
      <script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
      
      
      
      
  </head>
    
    
  <body>
      
     <h1> {{ title }}</h1>
      
<!--
      <div id="overlay" onclick="off()"><div id="text"></div></div>

      <button onclick="on(); displayWeather()"> Get current weather</button>
-->
      
      
      
      <br><br><br>
      
     
      
    <div id="map"></div>
      
      <br>
      <p><b>  Type in a streetname or area below to see it on the map</b> </p>
      
    <input id="pac-input" class="controls" type="text" placeholder="Search for a street">  
      
     
  </body>
</html>