body {
    background-color: gainsboro;
}

/*
h2 {
font-style: italic;
text-align: center;
font-size: 2vw;
color:black;}
*/


p, h1, h2 {font-family: 'Jura', Times, serif; margin-left: 7vw;}

h1 {
font-style: italic;
    font-style: bold;
text-align: center;
font-size: 4vw;
color:black;}



 #pac-input {
        background-color: #fff;
        font-family: 'Jura', Times;
        font-size: 20px;
        font-weight: 300;
        margin-left: 7vw;
     margin-bottom: 20vw;
     margin-top: 5px;
        padding: 4px 15px 0 16px;
        text-overflow: ellipsis;
        width: 25vw;
     max-height: 15vw;
      }

.pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: 'Jura', Times;
    margin-right:3vw;
      }


nav{background-color:red;
width:80%;
height: 20%;
line-height: 70%;
clear:left;
    
    
}


button
{
    background-color: white;
  font-family : 'Jura', Arial;
  font-size   : 100%;
    padding: 5px 32px;
    text-decoration: none;
    display: inline-block;
/*    margin-bottom: 2vw;*/
    font-size: 16px;
    font-style: bold;
    width: 25vw;
    max-height: 7vw;
    position: relative;
    margin-left:35%;
/*           z-index: -1; */
}


/*NB I (Sheena Davitt) created the style below for an overlay in my PHP project for web development last term */
#overlay {
    background-color: rgba(0,0,0,0.8); 
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); 
    cursor: pointer;  
    width: 100%; 
    height: 100%;
    font-family: 'jura', arial;
    z-index: 2;
}

